.error {
    color: white;
}

.device-grid {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.device {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 150px;
    width: 150px;

    border-style: solid;
    border-width: medium;
    border-color: orange;
    border-width: 3px;

    position: relative; /* Required for this-device to align to bottom */
}

.device:hover {
    color: white;
    background-color: orange;
    transition: background 0.25s linear;
}

.device.empty {
    border: none;
}

.device.empty:hover {
    border: none;
    background-color:transparent;
}

.this-device {
    color: orange;
    position: absolute;
    bottom: 0;
    font-weight: bold;
}

.device:hover .this-device {
    color: white;
}

.icon {
    font-size: 70px;
}

.name {
    text-align: center;
    width: 100%;
}