<div class="container">
    <div class="top add-another-device">
        <h4 class="unselectable">{{strings.addAnotherDevice.line1}}</h4>
        <p class="unselectable">{{strings.addAnotherDevice.line2}}</p>
    
        <img (click)="openPlayStore()" chromeExtSrc="src/assets/images/google_play_badge.png" role="button"/>
        <img (click)="openChromeWebStore()" chromeExtSrc="src/assets/images/chrome_web_store_badge.png" role="button"/>
    </div>
    <button (click)="back()" class="btn btn-primary bottom">{{strings.later}}</button>
</div>