/* Squid angular page */

.squid-body {
    background-color: #252839;
}

/* Squid options page */

.squid-options {
    padding: 0;
    padding-top: 50px;
    color: white;
}

.fade-in {
    animation: fadein 0.5s;
}

.squid-options-header {
    min-height: 50px;
    font-size: 20px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.squid-icon {
    font-size: 36px !important ;
}

.squid-device {
    padding: 10px;
    background-color: #b5b5b7;
    cursor: pointer;
    animation: fadein 1s;
}

.squid-device-name {
    font-size: 18px;
}

.squid-device-selected {
    background-color: #f2b632;
}

.squid-device-list {
    padding: 0;
}

/* Pop-up */
.squid-popup {
    white-space: pre;
    font-size: 15px;
}

.squid-dev-options {
    background-color: #b5b5b7;
    margin-top: 100px;
    padding: 10px;
}

/* Loader */

.loader {
    display: inline-block;
    border: 3px solid #3498db;
    border-top: 3px solid #f3f3f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Helpers */

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.spacer-12-top {
    padding-top: 12px;
}