<div class="container squid-options">
    <div *ngIf="isLoading" class="row text-center fade-in">
        <div class="row">{{strings.loading}}</div>
        <div class="row spacer-12-top">
            <div class="loader"></div>
        </div>
    </div>

    <div *ngIf="!isLoading" class="fade-in">

        <div class="row text-center squid-options-header">
            {{message}}
        </div>

        <!-- No devices message -->
        <div *ngIf="!error && (!devices || devices.length == 0)" class="row text-center">
            <div class="row">
                <p>{{strings.devices.noDevicesMessage}}</p>
            </div>
        </div>

        <div *ngIf="error" class="row text-center squid-error">
            {{error}}
        </div>

        <!-- List of devices -->
        <div *ngIf="devices && devices.length != 0" class="squid-device-list squid-panel">
            <div *ngFor="let device of devices" class="row squid-device vertical-align" [class.squid-device-selected]="isDeviceSelected(device)" (click)="setDevice(device)">
                <div class="col-xs-4">
                    <i class="material-icons squid-icon">{{getDeviceIcon(device)}}</i>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="squid-device-name">{{device.name}}</div>
                </div>
                <div class="col-xs-4">
                    <div class="pull-right" (click)="removeDevice($event, device)">X</div>
                </div>
            </div>
        </div>

        <div *ngIf="!devices || devices.length == 0" class="row spacer-12-top text-center">
            <button class="btn btn-primary" (click)="refreshDevices()">{{strings.retry}}</button>
        </div>
    </div>

    <div *ngIf="isDevMode && !isLoading" class="row spacer-12-top squid-dev-options squid-panel">
        <developer></developer>
    </div>
</div>