.select-device {
    padding-top: 5px;
    padding-bottom: 20px;
    color: white;
    background-color: #252839;
}

.device-grid {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.device {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 150px;
    width: 150px;
    
    border-style: solid;
    border-width: medium;
    border-color: orange;
    border-width: 1px;
}

.device:hover {
    color: white;
    background-color: orange;
    transition: background 0.25s linear;
}

.device.empty {
    border: none;
}

.device.empty:hover {
    border: none;
    background-color:transparent;
}

.icon {
    font-size: 70px;
}

.name {
    text-align: center;
    width: 100%;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}