<squid-toolbar showLogo="true"
               showOptions="true"></squid-toolbar>

<div class="select-device text-center">
    <h4 *ngIf="!isLoading" class="header">{{strings.devices.selectDevice}}</h4>

    <device-grid showAddDevice="true"
                 (onLoad)="onLoad($event)"
                 (onError)="onError($event)"
                 (onDeviceClick)="sendUrl($event)"
                 (onAddDeviceClick)="goToAddAnotherDevice()"></device-grid>

    <div *ngIf="error" class="squid-error">
        {{error}}
    </div>
</div>