<div class="container select-device">
    <div *ngIf="isLoading" class="row text-center fade-in loader-container">
        <div class="row">
            <div class="loader"></div>
        </div>
    </div>

    <div *ngIf="!isLoading" class="fade-in">

        <div class="row text-center">
            <h4>{{strings.devices.selectDevice}}</h4>
        </div>

        <div *ngIf="error" class="row text-center squid-error">
            {{error}}
        </div>

        <!-- Grid of devices -->
        <div *ngIf="devices" class="device-grid">
            <div *ngFor="let device of devices" (click)="sendUrl(device)" class="device" role="button">
                <i class="material-icons icon">{{device.getIcon()}}</i>
                <div class="name">{{device.name}}</div>
            </div>

            <div (click)="addAnotherDevice()" class="device" role="button">
                <i class="material-icons icon">add_circle</i>
                <div class="name">{{strings.devices.addDevice}}</div>
            </div>

            <div *ngIf="devices.length % 2 == 0" class="device empty"></div>
        </div>

        <div *ngIf="!devices || devices.length == 0" class="row text-center">
            <button class="btn btn-primary" (click)="refreshDevices()">{{strings.retry}}</button>
        </div>
    </div>
</div>