<squid-toolbar title="{{strings.about.title}}"
               showBack="true"></squid-toolbar>
               
<div class="about">
    <h4>{{strings.about.thankYou}}</h4>

    <attribution [str]="strings.about.appIcon"
                 [link]="strings.about.gameIconsLink"
                 [license]="strings.about.creativeCommonsLink"></attribution>

    <attribution [str]="strings.about.otherIcons"
                 [link]="strings.about.googleMaterialIconsLink"
                 [license]="strings.about.apache20Link"></attribution>
</div>