.menu {
    display: flex;
    align-items: center;
    color: white;
}

.icon {
    height: 48px;
}

.title {
    margin: 0 5px 0 5px;
}

.filler {
    flex-grow: 1;
}

.options-button {
    font-size: 30px;
    text-decoration: none;
}

.unselectable {
    user-select: none;
}