<!-- <nav class="navbar menu">
    <div class="container-fluid">
        <div class="navbar-header header">
            <div class="navbar-brand icon" role="presentation">
                <img alt="Squid" chromeExtSrc="src/assets/icons/icon48.png">
            </div>
            <p class="navbar-brand unselectable">Squid</p>
            <a href="#" class="material-icons navbar-brand options-button" aria-label="Download" alt="Download">settings</a>
        </div>
    </div>
</nav> -->

<div class="menu">
    <img alt="Squid" chromeExtSrc="src/assets/icons/icon48.png">
    <h4>Squid</h4>
    <div class="filler"></div>
    <a href="#" class="material-icons options-button color-primary" aria-label="Download" alt="Settings">settings</a>
</div>