<div class="option" routerLink="instructions" role="button">
    <h4 class="text squid-horizontal-padding">{{strings.instructions.title}}</h4>
</div>
<div class="option" routerLink="manageDevices" role="button">
    <h4 class="text squid-horizontal-padding">{{strings.manageDevices.title}}</h4>
</div>
<div class="option" routerLink="about" role="button">
    <h4 class="text squid-horizontal-padding">{{strings.about.title}}</h4>
</div>
<div *ngIf="isDevMode" class="option last-option" routerLink="developer" role="button">
    <h4 class="text squid-horizontal-padding">{{strings.developer.title}}</h4>
</div>