.option {
    color: white;
    padding: 0;
    border-top: 3px solid orange;
    min-height: 58px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.last-option {
    border-bottom: 3px solid orange;
}

.option:hover {
    background-color: orange;
    transition: background 0.25s linear;
}

h4 {
    margin: 0;
}