<div class="container squid-options">
    <div *ngIf="loadingDevices" class="row text-center">
        <div class="row">Loading...</div>
        <div class="row spacer-12-top">
            <div class="loader"></div>
        </div>
    </div>

    <div *ngIf="!error && !loadingDevices && (!devices || devices.length == 0)" class="row text-center">
        <div class="row">
            <p>You have no devices registered.</p>
            <p>Install Squid on your Android phone, and then retry!</p>
        </div>
        <div class="row spacer-12-top">
            <button class="btn btn-primary" (click)="refreshDevices()">Retry</button>
        </div>
    </div>

    <div *ngIf="error" class="row text-center">
        <div class="row">
            {{error}}
        </div>
        <div class="row spacer-12-top">
            <button class="btn btn-primary" (click)="refreshDevices()">Retry</button>
        </div>
    </div>

    <div *ngIf="!loadingDevices && devices" class="squid-device-list">
        <div *ngFor="let device of devices" class="row squid-device vertical-align" [class.squid-device-selected]="isDeviceSelected(device)" (click)="setDevice(device)" href="">
            <div class="col-xs-4">
                <i class="material-icons squid-icon">phone_android</i>
            </div>
            <div class="col-xs-4 text-center">
                <div class="squid-device-name">{{device.name}}</div>
            </div>
            <div class="col-xs-4">
                <div class="pull-right">X</div>
            </div>
        </div>
    </div>
</div>